body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #1e1e1e;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.equipo {
  display: flex;
  gap: 30px;
}

.card {
  text-align: center;
}

.card img {
  width: 150px;
  border-radius: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: #1e1e1e;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 10px;
}
